//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 0px 0px;
	@media (any-hover: hover) {
		&:hover {
		}
	}
	&._fw {
		width: 100%;
	}
	// margin-top: rem(30);
	// background: #F3F3F3;
	// box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.18),
	// inset 20px 20px 50px rgba(255, 255, 255, 0.25),
	// inset -20px -20px 50px #CDCDCD,
	// inset 20px 20px 50px #FFFFFF;
	// border-radius: 42.5px;
	// padding: rem(10) rem(24);
	// border: 1px solid #b0b0b04a;
	// transition: color 0.5s ease 0s;
	// font-weight: 500;

	// @media (any-hover: hover) {
	// 	&:hover {
	// 		color: $mainColor1;
	// 	}
	// }
}
