// Заголовки, общие БЄМ блоки и проче...

main {
    @include adaptiveValue("margin-top", 246, 200);
    margin-top: 246px;
}

h1 {
    text-transform: uppercase;
}

.articles-title {
    font-weight: 600;
}

.sertifikat {
    &__image {
        margin: 20px 20px;

        img {
            width: 100%;
        }
    }

    &-link_map {
        color: #c70000;
        letter-spacing: 1px;
        @include adaptiveValue("font-size", 22, 20);
        font-weight: 700;
        display: inline-block;
        text-indent: 0px;

        &::after {
            content: "";
            transition: all 0.8s ease 0s;
            width: 0;
            height: rem(2);
            display: block;
            background-color: #c70000;
            margin: rem(3) 0px 0px 0px;
        }

        @media (any-hover: hover) {
            &:hover {
                color: #c70000;

                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.servCab-up {
    display: flex;
    @include adaptiveValue("gap", 30, 20);
    @include adaptiveValue("padding-bottom", 30, 20);

    @media (max-width: $mobile) {
        flex-direction: column;
    }

    // .servCab-up__title

    &__title {
        text-align: center;
        font-weight: 700;
        @include adaptiveValue("font-size", 38, 22);
        padding-bottom: rem(30);
        @include adaptiveValue("padding-top", 30, 0);
        color: rgba(0, 0, 0, 0.705);
    }

    // .servCab-up__image

    &__image {
        border-radius: 15px;
        max-width: 60%;
        background: #f3f3f3;
        box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
        border: 4px solid #fff;
        overflow: hidden;
        transition: transform 1s ease 0s;
        transform: scale(1);

        @media (max-width: $mobile) {
            max-width: 100%;
        }

        img {
            border-radius: 6px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            image-rendering: pixelated;
            image-rendering: -moz-crisp-edges;
            /* Firefox */
            -ms-interpolation-mode: nearest-neighbor;
            /* IE */
        }

        // @media (any-hover: hover) {
        //     &:hover {
        //         transform: scale(1.01);
        //     }
        // }
    }

    // .servCab-up__descr

    &__descr {
        max-width: 40%;
        border-radius: 15px;
        background: #f3f3f3;
        box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
        border: 4px solid #fff;
        padding: rem(30) rem(20);
        padding-bottom: 15px;
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("line-height", 30, 15);
        font-weight: 500;

        @media (max-width: $mobile) {
            max-width: 100%;
        }

        p {
            text-indent: rem(40);
        }
    }
}

.servCab-tabs {
    // .servCab-tabs__body

    &__body {
        .body-tabs1 {
            // .body-tabs1__table

            &__table {
                border-radius: 15px;
                background: #f3f3f3;
                box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
                border: 4px solid #fff;
                padding: rem(20) rem(20);
                margin: rem(30) 0;
                @include adaptiveValue("font-size", 16, 12);

                &-wrapper {
                    width: 100%;
                    border-collapse: collapse;

                    tr {
                        line-height: 130%;

                        td {
                            padding: rem(7) rem(5);
                            border: 1px solid $mainBorder;

                            a {
                                font-weight: 600;
                                transition: all 0.5s ease 0s;

                                @media (any-hover: hover) {
                                    &:hover {
                                        color: $mainColor1;
                                    }
                                }
                            }
                        }

                        td:nth-child(1) {
                            padding-right: rem(5);
                        }

                        td:nth-child(2) {
                            min-width: rem(80);
                        }
                    }
                }
            }
        }
    }

    // .servCab-tabs__navigation

    &__navigation {
        // border-bottom: 2px solid $mainBorder;
        border-radius: 15px;
        background: #f3f3f3;
        box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
        border: 4px solid #fff;
        padding: rem(10);
        margin-bottom: rem(20);
    }

    // .servCab-tabs__title

    &__title {
        transition: all 0.3s ease 0s;
        font-weight: 500;
        line-height: 150%;
        @include adaptiveValue("font-size", 20, 16);
        background: #f3f3f3;

        &:not(:last-child) {
            padding-right: rem(15);
        }

        &._tab-active {
            color: $mainColor1;
        }
    }

    // .servCab-tabs__content

    &__content {
        // padding-top: rem(30);
    }

    .body-tabs1 {
        // .body-tabs1__up

        &__up {
            &-line {
                border: 1px solid $mainBorder;
                width: 90%;
                margin: 0 auto;
            }
        }

        // .body-tabs1__up-title

        &__up-title {
            text-align: center;
            font-weight: 600;
            @include adaptiveValue("font-size", 24, 20);
            padding-top: rem(10);
        }

        // .body-tabs1__up-descr

        &__up-descr {
            @include adaptiveValue("font-size", 18, 16);
            text-indent: rem(30);
            padding: rem(15) rem(10);
            @include adaptiveValue("line-height", 22, 18);

            p {
                text-indent: rem(30);

                &:not(:last-child) {
                    padding-bottom: rem(10);
                }
            }
        }

        // .body-tabs1__advant

        &__advant {
        }

        // .body-tabs1__down

        &__down {
        }

        // .body-tabs1__down-title

        &__down-title {
            text-align: center;
            font-weight: 600;
            @include adaptiveValue("font-size", 24, 20);
            padding-top: rem(10);
        }

        // .body-tabs1__down-descr

        &__down-descr {
            // padding: rem(15) rem(20) 0 rem(15);
            padding-top: rem(15);

            .spollers {
                padding-bottom: rem(15);
            }

            &_item {
                display: flex;
                padding-bottom: rem(15);
                @include adaptiveValue("font-size", 18, 16);
                width: 100%;
                align-items: center;
                line-height: 120%;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 35px;
                height: 35px;
                margin-top: -3px;
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }
        }
    }

    .servCab-spoll {
        // .cabin-spoll__item

        &__item {
            padding-bottom: 12px;
        }

        // .cabin-spoll__title

        &__title {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @include adaptiveValue("font-size", 18, 16);
            padding-bottom: 5px;
            text-align: left;
            transition: color 0.8s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor1;
                }
            }

            &::before {
                margin-left: auto;
                transition: all 0.5s ease 0s;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 35px;
                height: 35px;
                margin-top: -3px;
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }

            &._spoller-active {
                &::before {
                    transform: rotate(-180deg);
                    color: $mainColor1;
                }
            }
        }

        // .cabin-spoll__body

        &__body {
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("font-size", 16, 14);

            .servCab-spoll__image {
                max-width: rem(300);
                background: #f3f3f3;
                box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
                border: 4px solid #fff;
                overflow: hidden;
                float: left;
                margin-right: rem(10);
                margin-bottom: rem(10);
                border-radius: 6px;
            }

            img {
                border-radius: 6px;
                width: 100%;
                height: 100%;
                transition: all 1s ease 0s;
                object-fit: cover;

                @media (any-hover: hover) {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            p {
                text-indent: rem(30);
                padding-bottom: rem(10);
                @include adaptiveValue("padding-right", 30, 5);
            }
        }
    }

    .servCab-spoll1 {
        // .cabin-spoll1__item

        &__item {
        }

        // .cabin-spoll1__title

        &__title {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @include adaptiveValue("font-size", 18, 16);
            transition: color 0.8s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor1;
                }
            }

            &::before {
                margin-left: auto;
                transition: all 0.5s ease 0s;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 35px;
                height: 35px;
                margin-top: -3px;
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }

            &._spoller-active {
                &::before {
                    transform: rotate(-180deg);
                    color: $mainColor1;
                }
            }
        }

        // .cabin-spoll1__body

        &__body {
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("font-size", 16, 14);

            .servCab-spoll__image {
                max-width: rem(300);
                background: #f3f3f3;
                box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
                border: 4px solid #fff;
                overflow: hidden;
                float: left;
                margin-right: rem(10);
                margin-bottom: rem(10);
                border-radius: 6px;
            }

            img {
                border-radius: 6px;
                width: 100%;
                height: 100%;
                transition: all 1s ease 0s;
                object-fit: cover;

                @media (any-hover: hover) {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            p {
                text-indent: rem(30);
                padding-bottom: rem(10);
                @include adaptiveValue("padding-right", 30, 5);
            }
        }
    }

    .servCab-spoll2 {
        // .cabin-spoll2__item

        &__item {
        }

        // .cabin-spoll2__title

        &__title {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @include adaptiveValue("font-size", 18, 16);
            transition: color 0.8s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor1;
                }
            }

            &::before {
                margin-left: auto;
                transition: all 0.5s ease 0s;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: rem(35);
                height: rem(35);
                margin-top: rem(-3);
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }

            &._spoller-active {
                &::before {
                    transform: rotate(-180deg);
                    color: $mainColor1;
                }
            }
        }

        // .cabin-spoll2__body

        &__body {
            padding: rem(20) 0px;
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("font-size", 16, 14);

            p {
                text-indent: rem(30);
                padding-bottom: rem(10);
                @include adaptiveValue("padding-right", 30, 5);
            }
        }
    }

    .servCab-spoll3 {
        // .cabin-spoll3__item

        &__item {
        }

        // .cabin-spoll3__title

        &__title {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @include adaptiveValue("font-size", 18, 16);
            transition: color 0.8s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor1;
                }
            }

            &::before {
                margin-left: auto;
                transition: all 0.5s ease 0s;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: rem(35);
                height: rem(35);
                margin-top: rem(-3);
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }

            &._spoller-active {
                &::before {
                    transform: rotate(-180deg);
                    color: $mainColor1;
                }
            }
        }

        // .cabin-spoll3__body

        &__body {
            padding: rem(20) 0px;
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("font-size", 16, 14);

            .servCab-spol3__image {
                max-width: rem(300);
                background: #f3f3f3;
                box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
                border: 4px solid #fff;
                overflow: hidden;
                float: left;
                margin-right: rem(20);
                margin-bottom: rem(10);
                border-radius: 6px;

                @media (max-width: 484px) {
                    width: 100%;
                    float: none;
                }
            }

            img {
                border-radius: 6px;
                width: 100%;
                height: 100%;
                transition: all 1s ease 0s;
                object-fit: cover;

                @media (any-hover: hover) {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            p {
                text-indent: rem(30);
                padding-bottom: rem(10);
                @include adaptiveValue("padding-right", 30, 5);
            }
        }
    }

    .servCab-spoll6 {
        // .cabin-spoll6__item

        &__item {
        }

        // .cabin-spoll6__title

        &__title {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @include adaptiveValue("font-size", 18, 16);
            transition: color 0.8s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor1;
                }
            }

            &::before {
                margin-left: auto;
                transition: all 0.5s ease 0s;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: rem(35);
                height: rem(35);
                margin-top: rem(-3);
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }

            &._spoller-active {
                &::before {
                    transform: rotate(-180deg);
                    color: $mainColor1;
                }
            }
        }

        // .cabin-spoll6__body

        &__body {
            padding: rem(20) 0px;
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("font-size", 16, 14);

            p {
                text-indent: rem(30);
                padding-bottom: rem(10);
                @include adaptiveValue("padding-right", 30, 5);
            }
        }
    }

    .servCab-spoll9 {
        // .cabin-spoll9__item

        &__item {
        }

        // .cabin-spoll9__title

        &__title {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @include adaptiveValue("font-size", 18, 16);
            transition: color 0.8s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor1;
                }
            }

            &::before {
                margin-left: auto;
                transition: all 0.5s ease 0s;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: rem(35);
                height: rem(35);
                margin-top: rem(-3);
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;

                @media (max-width: $mobileSmall) {
                    flex: 1 0 auto;
                }
            }

            &._spoller-active {
                &::before {
                    transform: rotate(-180deg);
                    color: $mainColor1;
                }
            }
        }

        // .cabin-spoll9__body

        &__body {
            padding: rem(20) 0px;
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("font-size", 16, 14);

            .servCab-spol9__image {
                max-width: rem(200);
                background: #f3f3f3;
                box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
                border: 4px solid #fff;
                overflow: hidden;
                float: left;
                margin-right: rem(20);
                margin-bottom: rem(20);
                border-radius: 6px;

                @media (max-width: 424px) {
                    width: 100%;
                    float: none;
                }
            }

            img {
                border-radius: 6px;
                width: 100%;
                height: 100%;
                transition: all 1s ease 0s;
                object-fit: cover;

                @media (any-hover: hover) {
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            p {
                text-indent: rem(30);
                padding-bottom: rem(10);
                @include adaptiveValue("padding-right", 30, 5);
            }
        }
    }

    .servCab-spoll10 {
        // .cabin-spoll10__item

        &__item {
        }

        // .cabin-spoll10__title

        &__title {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            @include adaptiveValue("font-size", 18, 16);
            transition: color 0.8s ease 0s;

            @media (any-hover: hover) {
                &:hover {
                    color: $mainColor1;
                }
            }

            &::before {
                margin-left: auto;
                transition: all 0.5s ease 0s;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: rem(35);
                height: rem(35);
                margin-top: rem(-3);
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #ededed;
                box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
                box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }

            &._spoller-active {
                &::before {
                    transform: rotate(-180deg);
                    color: $mainColor1;
                }
            }
        }

        // .cabin-spoll10__body

        &__body {
            padding: rem(20) 0px;
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("font-size", 16, 14);

            p {
                text-indent: rem(30);
                padding-bottom: rem(10);
                @include adaptiveValue("padding-right", 30, 5);
            }
        }
    }
}

.servCab-spoll {
    // .cabin-spoll__item

    &__item {
        padding-bottom: 12px;
    }

    // .cabin-spoll__title

    &__title {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        @include adaptiveValue("font-size", 18, 16);
        padding-bottom: 5px;
        text-align: left;
        transition: color 0.8s ease 0s;

        @media (any-hover: hover) {
            &:hover {
                color: $mainColor1;
            }
        }

        &::before {
            margin-left: auto;
            transition: all 0.5s ease 0s;
        }

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 35px;
            height: 35px;
            margin-top: -3px;
            @include adaptiveValue("margin-left", 30, 0);
            @include adaptiveValue("margin-right", 30, 5);
            background: #ededed;
            box-shadow: inset -20px -20px 50px #ffffff, inset 20px 20px 50px #cdcdcd;
            box-shadow: inset -10px -10px 20px #ffffff, inset 10px 10px 20px rgba(0, 0, 0, 0.08);
            border-radius: 50%;
        }

        &._spoller-active {
            &::before {
                transform: rotate(-180deg);
                color: $mainColor1;
            }
        }
    }

    // .cabin-spoll__body

    &__body {
        @include adaptiveValue("margin-left", 30, 0);
        @include adaptiveValue("font-size", 16, 14);

        .servCab-spoll__image {
            max-width: rem(300);
            background: #f3f3f3;
            box-shadow: -20px -20px 20px #ffffff, 20px 20px 50px #d2d2d2;
            border: 4px solid #fff;
            overflow: hidden;
            float: left;
            margin-right: rem(10);
            margin-bottom: rem(10);
            border-radius: 6px;
        }

        img {
            border-radius: 6px;
            width: 100%;
            height: 100%;
            transition: all 1s ease 0s;
            object-fit: cover;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        p {
            text-indent: rem(30);
            padding-bottom: rem(10);
            @include adaptiveValue("padding-right", 30, 5);
        }
    }
}

//========================================================================================================================================================

.servCab-price {
    // .servCab-price__title

    &__title {
        text-align: center;
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 20);
        padding-top: rem(10);
    }

    // .servCab-price__items

    &__items {
        @include adaptiveValue("padding-top", 50, 30);
        @include adaptiveValue("padding-bottom", 30, 10);
        display: flex;
        gap: rem(30);
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        .servCab-up__image-fix {
            width: 40%;
        }

        .servCab-up__descr-fix {
            width: 100%;
        }
    }

    // .servCab-price__item

    &__item {
        display: flex;
        flex-direction: column;
        width: rem(280);
        background: #f3f3f3;
        box-shadow: -20px -20px 30px #ffffff, 20px 20px 50px #d2d2d2;
        border-radius: 15px;
        height: 430px;
        overflow: hidden;
    }

    // .servCab-price__image

    &__image {
        border-radius: rem(10) rem(10) 0 0;
        // flex: 1 1 auto;
        overflow: hidden;
        height: 280px;
        // transition: transform 1s ease 0s;
        // transform: scale(1);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            // image-rendering: pixelated;
            // image-rendering: -moz-crisp-edges; /* Firefox */
            // -ms-interpolation-mode: nearest-neighbor;  /* IE */
        }

        // @media (any-hover: hover) {
        //     &:hover {
        //         transform: scale(1.03);
        //     }
        // }
    }

    // .servCab-price__descr

    &__descr {
    }
}

.descr-cabPrice {
    padding: rem(20);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    // .descr-cabPrice__title

    &__title {
        font-weight: 500;
        font-size: rem(18);
        flex: 1 1 auto;
    }

    // .descr-cabPrice__subtitle

    &__subtitle {
        padding-top: rem(7);
        font-style: italic;
        text-align: right;
        font-size: rem(16);
    }

    // .descr-cabPrice__price

    &__price {
        color: $mainColor1;
        text-align: end;

        &-a {
            display: inline-block;

            &::after {
                content: "";
                transition: all 0.8s ease 0s;
                width: 0;
                height: rem(2);
                display: block;
                background-color: $mainColor1;
                margin: rem(3) 0px 0px 0px;
            }

            @media (any-hover: hover) {
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }

        &-main {
            display: inline-block;
            transition: all 0.8s ease 0s;

            &::after {
                content: "";
                transition: all 0.8s ease 0s;
                width: 0;
                height: rem(2);
                display: block;
                background-color: $mainColor1;
                margin: rem(3) 0px 0px 0px;
            }

            @media (any-hover: hover) {
                &:hover {
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }
}

//========================================================================================================================================================

.new-tabs {
    align-items: self-start;

    .adv-item {
        max-width: rem(180);

        &._tab-active {
            .adv-item__icon {
                background: #c7c7c7;
                box-shadow: inset -20px -20px 50px #e1e1e1, inset 20px 20px 50px #dfdfdf;
            }

            .adv-item__img {
                &::before {
                    color: #14328a;
                }
            }

            .adv-item__text {
                max-width: none;
                font-weight: 700;
                // font-size: 105%;
            }
        }
    }
}
