// Заголовки, общие БЄМ блоки и проче...

main {
    display: flex;
    justify-content: space-between;
    gap: rem(30);
    @include adaptiveValue("margin-top", 46, 20);
}

h1 {
    text-transform: uppercase;
    @include adaptiveValue("font-size", 38, 30);
}

h2 {
    @include adaptiveValue("font-size", 32, 26);
}

h3 {
    @include adaptiveValue("font-size", 26, 20);
}

//========================================================================================================================================================

