//========================================================================================================================================================

.curtain-page {
    @include adaptiveValue("padding-top", 50, 20);
    @include adaptiveValue("padding-bottom", 30, 20);

    // .cabin-page__container

    &__container {}
}

.curtain-up {
    display: flex;
    @include adaptiveValue("gap", 30, 20);
    @include adaptiveValue("padding-bottom", 30, 20);

    @media (max-width:$mobile) {
        flex-direction: column;
    }

    // .curtain-up__title

    &__title {
        text-align: center;
        font-weight: 700;
        @include adaptiveValue("font-size", 38, 22);
        padding-bottom: rem(30);
        color: rgba(0, 0, 0, 0.705);
    }

    // .curtain-up__image

    &__image {
        border-radius: 15px;
        max-width: 60%;
        background: #F3F3F3;
        box-shadow: -20px -20px 20px #FFFFFF,
            20px 20px 50px #D2D2D2;
        border: 4px solid #fff;
        overflow: hidden;

        @media (max-width:$mobile) {
            max-width: 100%;
        }

        img {
            border-radius: 6px;
            width: 100%;
            height: 100%;
            transition: all 1s ease 0s;
            object-fit: cover;

            @media (any-hover: hover) {
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    // .curtain-up__descr

    &__descr {
        max-width: 40%;
        border-radius: 15px;
        background: #F3F3F3;
        box-shadow: -20px -20px 20px #FFFFFF,
            20px 20px 50px #D2D2D2;
        border: 4px solid #fff;
        padding: rem(30) rem(20);
        padding-bottom: 15px;
        @include adaptiveValue("font-size", 20, 16);
        @include adaptiveValue("line-height", 30, 15);
        font-weight: 500;

        @media (max-width:$mobile) {
            max-width: 100%;
        }

        p {
            text-indent: rem(40);
        }
    }
}

.curtain-tabs {

    // .corner-tabs__body

    &__body {}

    // .curtain-tabs__navigation

    &__navigation {
        // border-bottom: 2px solid $mainBorder;
        border-radius: 15px;
        background: #F3F3F3;
        box-shadow: -20px -20px 20px #FFFFFF,
            20px 20px 50px #D2D2D2;
        border: 4px solid #fff;
        padding: rem(10);
    }

    // .curtain-tabs__title

    &__title {
        transition: all 0.3s ease 0s;
        font-weight: 500;
        line-height: 150%;
        @include adaptiveValue("font-size", 20, 16);
        background: #F3F3F3;

        &:not(:last-child) {
            padding-right: rem(15);
        }

        &._tab-active {
            color: $mainColor1;
        }
    }

    // .curtain-tabs__content

    &__content {
        padding-top: rem(30);
    }

    .body-tabs1 {

        // .body-tabs1__up-title

        &__up-title {
            text-align: center;
            font-weight: 600;
            @include adaptiveValue("font-size", 24, 20);
            padding-top: rem(10);
        }

        // .body-tabs1__up-descr

        &__up-descr {
            @include adaptiveValue("font-size", 18, 16);
            text-indent: rem(30);
            padding: rem(15) rem(10);
            @include adaptiveValue("line-height", 22, 18);

            p {
                text-indent: rem(30);

                &:not(:last-child) {
                    padding-bottom: rem(10);
                }
            }
        }

        // .body-tabs1__advant

        &__advant {}

        // .body-tabs1__down

        &__down {}

        // .body-tabs1__down-title

        &__down-title {
            text-align: center;
            font-weight: 600;
            @include adaptiveValue("font-size", 24, 20);
            padding-top: rem(10);
        }

        // .body-tabs1__down-descr

        &__down-descr {
            padding: rem(15) rem(20) 0 rem(15);

            .spollers {
                padding-bottom: rem(15);
            }

            h3 {
                display: flex;
                padding-bottom: rem(15);
                @include adaptiveValue("font-size", 18, 16);
                width: 100%;
                align-items: center;
            }

            span {
                display: flex;
                justify-content: center;
                align-items: center;
                min-width: 35px;
                height: 35px;
                margin-top: -3px;
                @include adaptiveValue("margin-left", 30, 0);
                @include adaptiveValue("margin-right", 30, 5);
                background: #EDEDED;
                box-shadow: inset -20px -20px 50px #FFFFFF,
                    inset 20px 20px 50px #CDCDCD;
                box-shadow: inset -10px -10px 20px #FFFFFF,
                    inset 10px 10px 20px rgba(0, 0, 0, 0.08);
                border-radius: 50%;
            }

        }
    }

}

//========================================================================================================================================================

.curtain-price {

    // .curtain-price__title

    &__title {
        text-align: center;
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 20);
        padding-top: rem(10);
    }

    // .curtain-price__items

    &__items {
        @include adaptiveValue("padding-top", 50, 30);
        display: flex;
        gap: rem(30);
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    // .curtain-price__item

    &__item {
        display: flex;
        flex-direction: column;
        max-width: rem(280);
        background: #F3F3F3;
        box-shadow: -20px -20px 30px #FFFFFF,
            20px 20px 50px #D2D2D2;
        border-radius: 15px;
        height: 430px;
        overflow: hidden;
    }

    // .curtain-price__image

    &__image {
        border-radius: rem(10) rem(10) 0 0;
        flex: 1 1 auto;
        overflow: hidden;
        transition: all 1s ease 0s;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.05);
            }
        }
    }

    // .curtain-price__descr

    &__descr {}
}

.descr-cabPrice {
    padding: rem(20);

    // .descr-cabPrice__title

    &__title {
        font-weight: 500;
        font-size: rem(18);
    }

    // .descr-cabPrice__subtitle

    &__subtitle {
        padding-top: rem(7);
        font-style: italic;
        text-align: right;
        font-size: rem(16);
    }

    // .descr-cabPrice__price

    &__price {
        color: $mainColor1;
        padding-top: rem(10);
    }
}

//========================================================================================================================================================
