//========================================================================================================================================================

.masterFixFurniture-page {
    // @include adaptiveValue("padding-top", 50, 20);
    @include adaptiveValue("padding-bottom", 30, 20);

    .servCab-tabs {
        margin-bottom: rem(20);
    }

    .servCab-price {

        // .servCab-price__item

        &__item {
            @include adaptiveValue("width", 550, 300);
            min-height: 1050px;
            @include adaptiveValue("min-height", 650, 1150);
        }

        .servCab-price__image {
            min-height: 40%;
        }

    }

    .descr-cabPrice {
        min-height: 400px;

        // .descr-cabPrice__title

        &__title {
            flex: none;
        }

        &__list {
            padding-top: rem(20);
            flex: 1 1 auto;
        }

        // .descr-cabPrice__descr

        &__descr {
            line-height: 110%;
        }

        // .descr-cabPrice__price

        &__price {
            text-align: end;
            font-weight: 500;
        }
    }

    .servCab-price__items {
        .servCab-up__descr {
            max-width: 100%;
        }
    }

}

//========================================================================================================================================================

