//========================================================================================================================================================

.cabin-calc {

    // .cabin-calc__title

    &__title {
        text-align: center;
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 20);
        padding: rem(10);
    }

    // .cabin-calc__subtitle

    &__subtitle {
        @include adaptiveValue("font-size", 18, 16);
        text-indent: rem(30);
        padding: rem(15) rem(10);
        @include adaptiveValue("line-height", 22, 18);

        p {
            text-indent: rem(30);

            &:not(:last-child) {
                padding-bottom: rem(10);
            }
        }
    }

    // .cabin-calc__items

    &__items {
        margin-top: rem(30);
        text-align: center;
        border: 1px solid $mainBorder;
        @include adaptiveValue("padding-bottom", 40, 20);
        @include adaptiveValue("padding-top", 40, 20);
        border-radius: 15px;
        background: #F3F3F3;
        box-shadow: -20px -20px 20px #FFFFFF,
        20px 20px 50px #D2D2D2;
        border: 4px solid #fff;
        padding: rem(10);
    }

    // .cabin-calc__item

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include adaptiveValue("padding-left", 70, 0);
        @include adaptiveValue("padding-right", 70, 0);

        select {
            @include adaptiveValue("font-size", 16, 14);
            margin: 0 auto;
            margin-top: rem(10);
            max-width: rem(320);
            background: #F9F9F9;
            border-radius: 42.5px;
            box-shadow: inset -10px -10px 20px #FFFFFF,
            inset 10px 10px 20px rgba(0, 0, 0, 0.08);
            color: #B0B0B0;
            padding: rem(10) rem(24);
            border: 1px solid $mainBorder;
            outline: none;
        }
        .item-calc__text {
            text-align: left;
        }

        .item-calc__input {
            @include adaptiveValue("font-size", 16, 14);
            margin-top: rem(10);
            max-width: rem(220);
            background: #F9F9F9;
            border-radius: 42.5px;
            box-shadow: inset -10px -10px 20px #FFFFFF,
                inset 10px 10px 20px rgba(0, 0, 0, 0.08);
            color: #B0B0B0;
            padding: rem(10) rem(24);
            border: 1px solid $mainBorder;
            outline: none;
        }

        &:not(:last-child) {
            padding-bottom: rem(15);
        }

        @media (max-width:$mobile){
             flex-direction: column; 
             padding-top: rem(10);
        }
    }

    #resultCab {
        min-width: rem(150);
        min-height: rem(40);
        color: $mainColor1;
        font-weight: 600;
    }

    // .cabin-calc__descr

    &__descr {
        @include adaptiveValue("font-size", 18, 16);
        text-indent: rem(30);
        padding: rem(15) rem(10);
        @include adaptiveValue("line-height", 22, 18);
        max-width: rem(700);
        margin: 0 auto;

        p {
            text-indent: rem(30);

            &:not(:last-child) {
                padding-bottom: rem(10);
            }
        }
    }

    // .cabin-calc__btn

    &__btn {
        margin: rem(30) 0;
        background: #F3F3F3;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.18),
            inset 20px 20px 50px rgba(255, 255, 255, 0.25),
            inset -20px -20px 50px #CDCDCD,
            inset 20px 20px 50px #FFFFFF;
        border-radius: 42.5px;
        padding: rem(10) rem(24);
        border: 1px solid #b0b0b04a;
        transition: color 0.5s ease 0s;
        font-weight: 500;

        @media (any-hover: hover) {
            &:hover {
                color: $mainColor1;
            }
        }
    }

}

// .cabin-calc__form

.cabin-calc__form {
    text-align: center;

    // .cabin-calc__form-title

    &-title {
        margin-top: rem(30);
        text-align: center;
        font-weight: 600;
        @include adaptiveValue("font-size", 24, 20);
        padding: rem(10);
    }

    // .cabin-calc__form-input

    &-input {
        margin: 0 auto;
        margin-top: rem(30);
        max-width: rem(300);
        background: #F9F9F9;
        border-radius: 42.5px;
        box-shadow: inset -10px -10px 20px #FFFFFF,
            inset 10px 10px 20px rgba(0, 0, 0, 0.08);
        color: #B0B0B0;
        padding: rem(10) rem(24);
        border: 1px solid $mainBorder;
        outline: none;
        @include adaptiveValue("font-size", 18, 16);
    }

    // .cabin-calc__forn-btn

    &-btn {
        margin-top: rem(30);
        background: #F3F3F3;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.18),
            inset 20px 20px 50px rgba(255, 255, 255, 0.25),
            inset -20px -20px 50px #CDCDCD,
            inset 20px 20px 50px #FFFFFF;
        border-radius: 42.5px;
        padding: rem(10) rem(24);
        border: 1px solid #b0b0b04a;
        transition: color 0.5s ease 0s;
        font-weight: 500;

        @media (any-hover: hover) {
            &:hover {
                color: $mainColor1;
            }
        }
    }

}
